html,body{
  height: 100%;
  width: 100%;
  margin: 0;
 
}


.header {
  background-color: #FDAF01;  
height: 50px;
}
.cart-logo{
  top: 12px;
  right: 10px;
    font-size: 18px;

}
 a.cart-logo .cart-basket {
  font-size: .6rem;
  position: absolute;
  top: -6px;
  right: -5px;
  width: 15px;
  height: 15px;
  color: #fff;
  background-color: #418deb;
  border-radius: 50%;
}

.header-left{
  float: left;
}
.logo{
  margin: 8px;
}
.header-right{
  float: right;
  display: flex;

}
.goog-logo-link {
   display:none !important;
}

.goog-te-gadget {
   color: transparent !important;
}
.goog-te-gadget .goog-te-combo {
   color: purple !important; 
  font-size: 17px !important; 
  background-color: transparent !important ; 

}

.header-right a{
text-decoration: none;
color: black;
}
.navbar{
  width: 100%;
}

.account{
margin: 2px;
font-size: 24px;
  position: absolute;
      top: -1px;
    right: 15px;
}
.fa-user{
  background-color: lightgrey;
  border-radius: 50%;
  padding: 4px;
  margin: 2px;
}

.navbar li a{
  font-size: 18px; 
color: #FDAF01 !important;
text-align: center !important;
}

.inputWithIcon{
    width: 400px!important;

}

#display{
 position: absolute; 
       top: 40px;
    z-index: 10;  
      background-color: white;
}
#display li {
display: block; 
text-decoration: none;

}
#display li a{
    font-size: 18px; 
    padding-right: 15px;
color: black!important;
text-align: left!important;
text-decoration: none;

}
input[type="text"] {
 
  border: 2px solid #aaa;
  border-radius: 4px;
  margin: 8px 0;
  outline: none;
  padding: 8px;
  box-sizing: border-box;
  transition: 0.3s;
}



.inputWithIcon input[type="text"] {
  padding-left: 28px;
}

.inputWithIcon {
  position: relative;
}

.inputWithIcon i {
  position: absolute;
  left: 0;
  top: 12px;
  padding: 9px 8px;
  color: #aaa;
  transition: 0.3s;
}



.inputWithIcon.inputIconBg i {
  background-color: #aaa;
  color: #fff;
  padding: 9px 4px;
  border-radius: 4px 0 0 4px;
}

.inputWithIcon.inputIconBg input[type="text"]:focus + i {
  color: #fff;
  background-color: dodgerBlue;
}
.search1:focus {
  width: 100%;
}

@media screen and (max-width: 500px) {
.goog-te-gadget .goog-te-combo {
        font-size: 14px !important; 
width: 129px!important;
  }

}